*~
#.gitignore#
#.gitignore
__pycache__/
*/__pycache__/
*/.ipynb_checkpoints
FederalistPapers/*
GAN-tutorial/*
InterpretableML/breast-cancer-wisconsin-data.zip
InterpretableML/data.csv
InterpretableML/heartbeat.zip
InterpretableML/heartbeatDataSource.txt
InterpretableML/ieee-fraud-detection.zip
Implicit/similar-artists-360k-als.tsv
Implicit/similarItems-als-lastfm.tsv
Implicit/similarItems-bm25-lastfm.tsv
Implicit/similarItems-cosine-lastfm.tsv
Implicit/similarItems-lmf-lastfm.tsv
Implicit/similarItems-tfidf-lastfm.tsv
LightFMMovieLens/*
KaggleWeather/city_attributes.csv
KaggleWeather/historical-hourly-weather-data.zip
KaggleWeather/pressure.csv
KaggleWeather/temperature.csv
KaggleWeather/weather_description.csv
KaggleWeather/wind_direction.csv
KaggleWeather/wind_speed.csv
KerasProjects/
KerasProjects/*
MaskR-CNN/
SoccerRankingCollabFiltering/
SparkProjects/
SparkProjects/*
TFWALS/*
Trupanion/
USnames/
UberReprise/*
firstGAN/
multiClass/#*#
multiClass/*.joblib
multiClass/*.pdf
multiClass/*.pdf
multiClass/*.svg
multiClass/HazelAnalyticsSummary.pdf
multiClass/PredictiveModelingChallengeUsingGloVeWordEmbedding.ipynb
multiClass/SupplementalNotes.pdf
multiClass/checkpoints/
multiClass/ldaModel.log
multiClass/ldaTrain.model
multiClass/ldaTrain.model.expElogbeta.npy
multiClass/ldaTrain.model.id2word
multiClass/ldaTrain.model.state
multiClass/rawVIOCOMMENTS.txt
multiClass/regexedComments.txt
multiClass/tensorBoardLogs/
multiClass/tokenSymSpelledComments.txt
styleTransfer/*.ipynb
styleTransfer/*.jpg
styleTransfer/1024pxRenoirPierre-AugusteTheTwoSistersOnTheTerrace256x.png
styleTransfer/1024pxRenoirPierre-AugusteTheTwoSistersOnTheTerrace256x256.png
styleTransfer/1024pxRenoirPierre-AugusteTheTwoSistersOnTheTerrace512x.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenContent2Style005[01]??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenContent2Style020[01]??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenStyle2Content0?1[01]??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenStyle2Content0?2[01]??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenStyle2Content0?50??.png
styleTransfer/BonniePorchFriendsStylizeRatio0.100dKolkataChildren[01]??.png
styleTransfer/BonniePorchFriendsStylizedKolkataChildren0??.png
styleTransfer/BonnieWilberFamilyFriends*
styleTransfer/ChildrenKolkataIndiaByLorenJosephOnUnsplash*
styleTransfer/ChildrenKolkataIndiaByLorenJosephOnUnsplash*.png
styleTransfer/PortraitOfManHuggingHappyWomanUnderUmbrella.png
styleTransfer/PortraitOfManHuggingHappyWomanUnderUmbrella256*
styleTransfer/PortraitOfManHuggingHappyWomanUnderUmbrella512x.png
*.svg
pdf
.ipynb_checkpoints
