*~
__pycache__/
*/__pycache__/
*/.ipynb_checkpoints
# InterpretableML/
# InterpretableML/*
SparkProjects/
SparkProjects/*
UberReprise/
UberReprise/*
KerasProjects/
KerasProjects/*
multiClass/*.pdf
multiClass/ldaModel.log
multiClass/ldaTrain.model
multiClass/ldaTrain.model.expElogbeta.npy
multiClass/ldaTrain.model.id2word
multiClass/ldaTrain.model.state
multiClass/PredictiveModelingChallengeUsingGloVeWordEmbedding.ipynb
multiClass/*.joblib
multiClass/*.pdf
multiClass/*.svg
multiClass/HazelAnalyticsSummary.pdf
multiClass/SupplementalNotes.pdf
styleTransfer/*.ipynb
styleTransfer/*.jpg
styleTransfer/ChildrenKolkataIndiaByLorenJosephOnUnsplash*.png
styleTransfer/1024pxRenoirPierre-AugusteTheTwoSistersOnTheTerrace512x.png
styleTransfer/1024pxRenoirPierre-AugusteTheTwoSistersOnTheTerrace256x.png
styleTransfer/1024pxRenoirPierre-AugusteTheTwoSistersOnTheTerrace256x256.png
styleTransfer/BonnieWilberFamilyFriends*
styleTransfer/ChildrenKolkataIndiaByLorenJosephOnUnsplash*
styleTransfer/PortraitOfManHuggingHappyWomanUnderUmbrella.png
styleTransfer/PortraitOfManHuggingHappyWomanUnderUmbrella512x.png
styleTransfer/PortraitOfManHuggingHappyWomanUnderUmbrella256*
styleTransfer/BonniePorchFriendsStylizedKolkataChildren0??.png
styleTransfer/BonniePorchFriendsStylizeRatio0.100dKolkataChildren[01]??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenStyle2Content0?50??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenStyle2Content0?2[01]??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenStyle2Content0?1[01]??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenContent2Style020[01]??.png
styleTransfer/BonniePorchFriendsStylizeKolkataChildrenContent2Style005[01]??.png
KaggleWeather/historical-hourly-weather-data.zip
KaggleWeather/pressure.csv
KaggleWeather/temperature.csv
KaggleWeather/weather_description.csv
KaggleWeather/wind_direction.csv
KaggleWeather/wind_speed.csv
KaggleWeather/city_attributes.csv
